---

---

<div class="mx-auto max-w-5xl text-center">
	<div class="my-8 px-4 lg:my-32 lg:px-0">
		<h1 class="my-16 text-4xl underline xl:text-8xl">sonik audio</h1>
		<img
			src="/images/lambo.png"
			style="width: 70%; margin: 0 auto; margin-top: -36px;"
			alt="sonik audio lambo"
		/>
		<h2 class="mt-8 text-2xl xl:text-4xl">
			let the <span class="text-red-600">whole</span> block hear you
		</h2>
	</div>
</div>
