---

---

<div class="bg-neutral-950 px-4 py-8 xl:px-0 xl:py-32">
	<div class="mx-auto max-w-5xl">
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
			<!-- left col -->

			<div class="item bg-[url(/nasa-Q1p7bh3SHj8-unsplash.jpg)]">
				<div class="flex flex-col gap-2 bg-neutral-950/80 px-4 py-2">
					<p class="text-2xl xl:text-4xl">Store Locator</p>
					<p>Find a store near you.</p>
				</div>
			</div>
			<!-- right col -->

			<div class="item bg-[url(/natalie-pedigo-wJK9eTiEZHY-unsplash.jpg)]">
				<div class="flex flex-col gap-2 bg-neutral-950/80 px-4 py-2">
					<p class="text-2xl xl:text-4xl">Join Us</p>
					<p>Win with us.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	p {
		font-family: Audiowide;
	}
	.item {
		@apply flex aspect-video grow items-center justify-center bg-neutral-900  bg-cover transition-colors hover:text-red-700;
		cursor: pointer;
	}
</style>
