<div class="bg-blue-100 py-32">
	<div class="mx-auto max-w-4xl space-y-8">
		<h2 class="text-4xl">✨ Pricing</h2>
		<div class="grid grid-flow-row grid-cols-3 gap-8">
			<div
				class="space-y-8 rounded-xl border-2 border-neutral-300 bg-neutral-100 p-8"
			>
				<p class="font-bold">Starter</p>
				<ul>
					<li>✅ Basic support</li>
					<li>✅ 5 Projects</li>
					<li>✅ 5 GB Storage</li>
					<li>✅ 10 Users</li>
				</ul>
				<button
					class="w-full rounded-lg bg-neutral-300 px-4 py-2 hover:bg-neutral-400/50"
				>
					Free
				</button>
			</div>
			<div
				class="space-y-8 rounded-xl border-2 border-blue-500 bg-neutral-100 p-8 shadow-lg"
			>
				<p class="font-bold">Professional</p>
				<ul>
					<li>✅ Priority Support</li>
					<li>✅ 50 Projects</li>
					<li>✅ 50 GB Storage</li>
					<li>✅ 50 Users</li>
				</ul>
				<button
					class="w-full rounded-lg bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-600"
				>
					From $49.99
				</button>
			</div>
			<div
				class="space-y-8 rounded-xl border-2 border-neutral-300 bg-neutral-100 p-8"
			>
				<p class="font-bold">Enterprise</p>
				<ul>
					<li>✅ Priority Support</li>
					<li>✅ Unlimited Projects</li>
					<li>✅ Unlimited Storage</li>
					<li>✅ Unlimited Users</li>
				</ul>
				<button
					class="w-full rounded-lg bg-neutral-300 px-4 py-2 hover:bg-neutral-400/50"
				>
					Contact Us
				</button>
			</div>
		</div>
	</div>
</div>
