---

---

<div class="bg-neutral-900/30 px-4 py-8 xl:px-0 xl:py-32">
	<div class="mx-auto max-w-[100rem]">
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
			<!-- left col -->
			<div class="grid grid-rows-1 gap-4 lg:grid-rows-[1fr_calc(2fr+2rem)]">
				<div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
					<div class="item bg-[url(/grafitti.png)]">
						<p class="text-2xl xl:text-4xl">WIRES</p>
					</div>
					<div class="item bg-[url(/grafitti2.png)]">
						<p class="text-2xl xl:text-4xl">KITS</p>
					</div>
				</div>
				<div class="item bg-[url(/grafitti4.png)]">
					<div class="flex flex-col gap-2">
						<p class="text-2xl xl:text-6xl">SUBWOOFERS</p>
						<p class="text-2xl xl:text-4xl">from $400</p>
					</div>
				</div>
			</div>
			<!-- right col -->
			<div class="grid grid-rows-1 gap-4 lg:grid-rows-[calc(2fr+2rem)_1fr]">
				<div class="item bg-[url(/grafitti3.png)]">
					<div class="flex flex-col gap-2">
						<p class="text-2xl xl:text-6xl">AMPLIFIERS</p>
						<p class="text-2xl xl:text-4xl">from $200</p>
					</div>
				</div>
				<div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
					<div class="item bg-[url(/grafitti2.png)]">
						<p class="text-2xl xl:text-4xl">TOOLS</p>
					</div>
					<div class="item bg-[url(/grafitti.png)]">
						<p class="text-2xl xl:text-4xl">GUIDES</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	p {
		font-family: Audiowide;
	}
	.item {
		@apply flex aspect-square grow items-center justify-center bg-neutral-900 bg-cover transition-colors hover:text-red-700;
		cursor: pointer;
	}
</style>
