@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Audiowide;
	src: url(/Audiowide-Regular.ttf);
	font-display: swap;
}

/**
 * Basic markup styling
 */

*::selection {
	@apply bg-red-500/30 text-neutral-100;
}

html,
body {
	@apply bg-neutral-900 text-white;
	font-family: 'Inter', sans-serif;
}

/* Heading styling */
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold;
	font-family: Audiowide, sans-serif;
}

h1 {
	@apply font-extrabold tracking-tighter;
}

h2 {
	@apply font-extrabold tracking-tight;
}

/* Dividers */
hr {
	@apply border-red-700;
}

/* Lists */
ul > li {
	@apply ml-0 list-none;
}
