---
import '@/styles/globals.css'
import Analytics from '@/components/astro/Analytics.astro'
import Navbar from '@/components/astro/Navbar.astro'
import Footer from '@/components/astro/Footer.astro'

interface Props {
	title: string
}

const { title } = Astro.props
const isProd = import.meta.env.MODE === 'production'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - crwdzr.io</title>
		{isProd && <Analytics {title} />}
	</head>
	<body class="min-h-screen bg-neutral-950">
		<div class="flex min-h-screen flex-col">
			<!-- navbar -->
			<Navbar />

			<!-- content -->
			<div class="grow">
				<slot />
			</div>

			<!-- footer -->
			<Footer />
		</div>
	</body>
</html>

<style>
	.logo {
		font-family: Audiowide, sans-serif;
	}
	nav a {
		@apply px-2 py-1 text-sm hover:text-neutral-300;
	}
</style>
